@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&display=swap");

html {
	height: 100%;
}

header {
	display: block;
	background-color: #759851;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0;
	background-color: #73d629;
}

#nombrePagina {
	color: #ffffff;
	display: inline-block;
	vertical-align: bottom;
	text-align: end;
	font-family: Raleway;
	font-style: italic;
	font-size: 50px;
	margin: 12px;
	padding: 20px;
}
#barraNavegacion {
	list-style-type: none;
	margin: 0;
	background-color: #4cbb17;
	border: 1px solid #000;
	padding: 10px;
}

.elementoNavegacion {
	display: inline;

	border-right: 1px solid black;
}

.elementoNavegacion a {
	color: black;
	text-decoration: none;
	padding: 4px;
}

#iniciarSesion {
	float: right;
	border-right: none;
}

#cuerpo {
	display: inline-block;
}

.Propuesta {
	background-color: #cad629;
	display: block;
	width: 1084px;
	padding: 15px;
	margin: 15px;
	border: 1px solid #000;
}

.elementoPropuesta {
	display: inline-block;
	width: 900px;
}

.contendorDescripcion {
	display: inline-block;
	width: 900px;
}

.imagen {
	max-width: 150px;
}

#Filtros {
	margin: 15px;
	padding: 20px;
	position: sticky;
	float: right;
}
